# --- Postgres ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# --- pgAdmin ---
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# --- Backend ---
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
SWAGGER_PATH=api/docs
