# --- Postgres ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=pointdrop
DATABASE_URL="postgresql://postgres:secretpassword@postgres:5432/pointdrop?schema=public"

# --- pgAdmin ---
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# --- Backend ---
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
SWAGGER_PATH=api/docs
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=1d